<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touch to play.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,170},{194,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,17}}</string>
                <key>sourceSize</key>
                <string>{194,17}</string>
            </dict>
            <key>몬스터_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{30,49}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{30,49}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,62},{28,37}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{28,37}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,32},{28,37}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{28,37}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{28,37}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{28,37}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,324},{28,39}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{28,39}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{28,41}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{28,41}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,467},{28,47}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{28,47}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,367},{28,49}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{28,49}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,463},{28,45}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{28,45}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,138},{34,43}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{34,43}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,324},{40,39}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{40,39}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,321},{44,31}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,18},{44,31}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,324},{46,29}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{46,29}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,324},{40,29}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{40,29}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,461},{44,21}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{44,21}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{52,17}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,34},{52,17}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>지하 물탕01.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,184},{2,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{2,10}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕02.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,196},{2,4}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{2,4}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕03.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,206},{2,2}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{2,2}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕04.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,505},{6,4}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{6,4}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,355},{10,6}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{10,6}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,355},{14,6}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{14,6}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{16,4}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{16,4}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕08.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,164},{18,2}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{18,2}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕09.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,345},{20,4}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{20,4}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕10.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,321},{22,4}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{22,4}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 물탕11.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,138},{24,2}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{24,2}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>지하 횃불.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,150},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>지하 횃불씨1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,202},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>지하 횃불씨2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,206},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>지하배경1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,146}</string>
            </dict>
            <key>지하배경깜빡임알파값4-10퍼센트 랜덤.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,146}</string>
            </dict>
            <key>캐릭터_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,417},{23,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{23,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,92},{35,44}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{35,44}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,231},{33,44}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{33,44}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,183},{33,46}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{33,46}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,467},{29,46}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{29,46}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,367},{27,48}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{27,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,367},{23,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{23,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,367},{23,46}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{23,46}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,417},{23,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{23,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,367},{23,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{23,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,417},{21,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{21,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,467},{29,42}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{29,42}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,467},{27,42}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{27,42}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,367},{27,44}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{27,44}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,415},{27,44}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{27,44}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,417},{25,48}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{25,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,367},{21,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{21,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,367},{19,46}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{19,46}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,417},{19,48}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{19,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛뒤_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,367},{19,48}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{19,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,417},{19,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{19,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,277},{33,42}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{33,42}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,468},{31,42}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{31,42}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{31,42}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{31,42}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,324},{29,44}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{29,44}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,418},{27,48}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{27,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,367},{19,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{19,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,415},{21,46}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{21,46}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,417},{21,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{21,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터_01_빛앞_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,367},{21,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{21,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameStage.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91dd73088379472df7fd202dec30b8b4$</string>
            <key>textureFileName</key>
            <string>GameStage.png</string>
        </dict>
    </dict>
</plist>
