<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>몬스터_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,80},{30,49}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{30,49}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{28,37}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{28,37}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,521},{28,37}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{28,37}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{28,37}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{28,37}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,606},{28,39}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{28,39}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,563},{28,41}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{28,41}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,467},{28,47}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{28,47}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,416},{28,49}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{28,49}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,516},{28,45}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{28,45}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,486},{34,43}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{34,43}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,518},{40,39}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{40,39}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{44,31}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,18},{44,31}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,266},{46,29}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{46,29}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,314},{40,29}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{40,29}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,467},{44,21}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{44,21}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>몬스터_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,467},{52,17}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{52,17}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>서랍.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,467},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>장농.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>지상층1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,324},{320,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,153}}</string>
                <key>sourceSize</key>
                <string>{320,153}</string>
            </dict>
            <key>지상층2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{320,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,153}}</string>
                <key>sourceSize</key>
                <string>{320,153}</string>
            </dict>
            <key>지상층3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{320,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,153}}</string>
                <key>sourceSize</key>
                <string>{320,153}</string>
            </dict>
            <key>지상층4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,153}}</string>
                <key>sourceSize</key>
                <string>{320,153}</string>
            </dict>
            <key>지상층배경.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,153}}</string>
                <key>sourceSize</key>
                <string>{320,153}</string>
            </dict>
            <key>캐릭터몸_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,490},{21,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{21,32}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터몸_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,48},{31,30}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{31,30}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터몸_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,131},{29,30}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{29,30}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터몸_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,386},{29,28}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{29,28}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터몸_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,356},{29,28}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{29,28}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터몸_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,162},{27,30}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{27,30}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터몸_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,241},{23,30}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{23,30}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터몸_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,518},{23,28}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{23,28}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터몸_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,216},{23,30}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{23,30}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터몸_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,191},{23,30}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{23,30}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,510},{19,10}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,48},{19,10}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,467},{35,14}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,37},{35,14}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,499},{33,14}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{33,14}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,483},{33,14}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{33,14}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,501},{27,14}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{27,14}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,522},{21,18}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,39},{21,18}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,546},{15,18}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,40},{15,18}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,548},{13,16}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,42},{13,16}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,545},{15,18}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,40},{15,18}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터부츠_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,490},{19,18}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,40},{19,18}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,537},{23,22}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,522},{23,22}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,522},{23,22}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,517},{23,22}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,515},{23,22}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,517},{23,22}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,515},{23,22}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,522},{23,22}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,513},{23,22}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>캐릭터투구_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,513},{23,22}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{23,22}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>화장대.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,467},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{49,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GroundStage.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbc88875adb08b33fd1838fa9b3a6075$</string>
            <key>textureFileName</key>
            <string>GroundStage.png</string>
        </dict>
    </dict>
</plist>
